body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;
}

main{
    margin-top: 20px;
    padding: 7%;
}

form{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

form * {
    padding: 5px;
    margin-bottom: 12px;
    width: 100%;
    border: solid 1px gray;
    border-radius: 10px;
}

form *:hover{
    border: solid 1px black;
}

form input{
    max-width: 200px;
}


form textarea{
    margin: 10px;
    width: 100%;
    height: 12rem;
    max-width: 500px;
    resize: unset;
}

form button{
    margin: 10px;
    width: 100%;
    max-width: 100px;
    position: relative;
    background: none;
    border: solid 1px grey;
    border-radius: 0.5em;
    cursor: pointer;
    height: 3em;
}

form h3{
    border: none;
}
form h3:hover{
    border: none;
}

@media (max-width: 480px) {
    form{
        flex-direction: column;
    }
    form textarea{
        height: 20rem;
    }
    form input{
        max-width: 999999px;
    }
}

header{
    background-color: #72bb53;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

footer{
    background-color: #72bb53;
    height: 150px;
    padding: 40px 10px;
}

.banner-image{
    max-width: 100%;
    margin: 0 auto;
}