body{
    background: #f3f3f3;
}

.centered{
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.padding-10{
    padding: 10px;
}
.margin-h{
    margin-top: 3%;
}
.black{
    background: #000;
}

.navbar{
    padding: 10px;
    background-color: black;
    color: white;
    font-family:  'Century Gothic';
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar a:hover {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    font-style: italic;
    margin-top: 50px;
    font-size: 0.8em;
}

.li-category{
    list-style: none;
    display: flex;
}
.li-category li:not(:last-child):after {
    content: " - ";
}

.table-last-article{
    border-collapse: collapse;
}
.table-last-article thead{
    background-color: black;
    color: white;
}
.table-last-article tr:nth-child(even) {
    background-color: #f2f2f2;
}

input{
    border: none;
    border-radius: 4px;
    padding: 4px;
}

select{
    border: none;
    border-radius: 4px;
    padding: 4px;
}
